svg   { border:1px solid #ccc; }
circle{ stroke:#fff; stroke-width:1.5px }
text  { font-size:12px; pointer-events:none }

.links line {
  stroke: #ff0000;
  stroke-opacity: 0.6;
}

.tool-button.active-tool {
  background-color: #007bff;
  color: white;
  border: 1px solid #0056b3;
}
/* .spqr-component.highlighted circle,
.spqr-component.highlighted line {
  stroke: black;
  stroke-width: 3px;
}

.spqr-component.highlighted .node {
  fill: gold;
}
*/
.spqr-component.highlighted .bounding-box {
  stroke: green;
  stroke-width: 3px;
}

.collapsing-node {
  fill: lightgreen !important;
  stroke: black;
  stroke-width: 2px;
}

.collapsing-virtual-edge-node {
  r: 5;
  fill: lightgreen !important;
  stroke: black;

}